@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: white;
}
header {
	background-color: darkgrey;
	height: 6rem;
}

header h1 {
	position: relative;
	background-color: #1f2a52;
	padding-left: 5rem;
	top: 0.8rem;
	width: 26rem;
}

header span{
	color: darkgrey;
	font-size: 3rem;
	font-family: 'Oleo Script Swash Caps', cursive;
}

header nav {
	position: relative;
    bottom: 1rem;
	color: #1f2a52;
	font-size: large;
    font-weight: bold;
	list-style-type: none;
	text-align: end;
	margin-right: 5rem;
}

header nav ul li {
	text-decoration: underline;
    text-decoration-color: #1f2a52;
    text-decoration-thickness: 0.2rem;
	display: inline-block;
	margin-left: 25px;
}

header nav ul li:hover {
	text-decoration-line: none;
}

figure img {
	height: 12rem;
    width: 100%;
}

main {
	color: #1f2a52;
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}

#about-me {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

#work {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact-me {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}